.footer-cchla{
    background-color: var(--primary-main);
    .icons-footer{
        background-color: var(--neutral-800);
        color: var(--primary-dark);
    }
    .footer-separator{
        border: solid 2px var(--primary-medium);
    }
    .by-awe{
        border: solid 1px var(--primary-medium);
    }
}

@media screen and (max-width: 768px) {
    .footer-cchla{
        .footer-information{
            width: 33.33333%;
        }
    }
}

@media screen and (max-width: 640px) {
    .footer-cchla{
        .footer-information{
            width: 50%;
        }
    }
}