.header{ 
    background: linear-gradient(to right, #011144, #011144 50%, var(--primary-main) 60%, var(--primary-main));
    .header-content{
       background-color: var(--primary-main); 
    }
    background-color: var(--primary-main);
    .logo-style{
        position: absolute;
        top: 0;
        right: 107px;
        max-width: max-content;
    }
}