.header{ 
    background: linear-gradient(to right, #011144, #011144 1%, var(--primary-main) 20%, var(--primary-main));
    .logo-style{
        position: absolute;
        top: 0;
        right: 107px;
        max-width: max-content;
    }
}