.alert-message-yellow{
    color: var(--alert-yel-red-color);
    background-color: var(--alert-yellow-bg);
}
.separator{
    border: 2px solid var(--neutral-200);
}

.sec-services{
    .cards-services {
        -ms-overflow-style: none;
        scrollbar-width: none; 
        .content-services{
            p>button{
                color: #2988CC;
            }
        }
    }
}

.noticia-cchla, .more-notices{
    .btn-destaque{
        background-color: var(--azul-dark);   
    }
    .list-noticia{
        .card-noticia{
            flex: auto 1 0;
            width: 30%;
        }
        
    }
}